.rewards {
  position: absolute;
  width: 100%;
  min-height: calc(100vh - 55px);
  padding-top: 10px;
  background-color: var(--play-bg);
  top: 55px;
  height: 100%;
}
.rewards-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin: 0 auto;
  width: max-content;
  height: 100%;
}
.rewards-item {
  width: 320px;
  position: relative;
  margin-bottom: 8px;
}
.rewards-item::before {
  position: absolute;
  left: 0px;
  top: 15px;
  width: 41px;
  height: 1.5px;
  background-color: var(--task-item-border);
  content: "";
}
.rewards-item::after {
  position: absolute;
  right: 0px;
  top: 15px;
  width: 41px;
  height: 1.5px;
  background-color: var(--task-item-border);
  content: "";
}
.rewards-block {
  display: block;
  margin: 0 auto;
}
.rewards-reward {
  text-transform: uppercase;
  position: absolute;
  width: 238px;
  top: 7px;
  text-align: center;
  left: 40px;
  font-size: 14px;
  color: var(--task-item-variant);
}

.rewards-item--current::after,
.rewards-item--current::before {
  background-color: var(--task-item-border--hover);
}
.rewards-item--current .rewards-reward {
  color: var(--task-item-border--hover);
}
.rewards-item--current #rewardsBorder {
  stroke: var(--task-item-border--hover);
}

.rewards-item--prev .rewards-reward {
  color: var(--task-item-border);
}
@media screen and (min-width: 1439px) {
  .rewards {
    position: relative;
    background-color: white;
    top: 0;
    min-height: 100vh;
  }
  .rewards-list {
    padding-top: 160px;
  }
  .rewards-item {
    width: 376px;
  }
  .rewards-reward {
    font-size: 20px;
    left: 69px;
    top: 9px;
  }
  .rewards-block {
    height: 42px;
  }
  .rewards-item::before,
  .rewards-item::after {
    height: 1px;
    width: 69px;
    top: 21px;
  }
}
